.main-nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
}

.main-nav a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo{
  text-align:center;
  width:100%;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-wrapper {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #e11d48;
  color: white;
  font-size: 10px;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.user-popup {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


@media (max-width:768px){

  .main-nav ul{
    overflow-x:auto;
    white-space:nowrap;
    gap:20px;
  }

}


/* BURBUJA DE PERFIL */
.user-bubble{
  position:fixed;
  top:70px;
  right:30px;

  background:white;
  border-radius:12px;
  padding:16px;
  width:220px;

  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  z-index:1000;

  display:flex;
  flex-direction:column;
  gap:10px;

  animation:fadeIn .2s ease;
}

.user-name{
  font-weight:600;
  margin:0;
}

.perfil-btn{
  border:none;
  background:#8f7889be;
  color:white;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
  transition:.2s;
}

.perfil-btn:hover{
  background:#7a6474;
}

/* OSCURECE LA PAGINA */

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.2);
  z-index:999;
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(-10px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}